<?xml version='1.0' encoding='utf-8'?>
<widget id="moroway-app" version="9.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MOROway App</name>
    <description>MOROway snApp</description>
    <author>Jonathan Herrmann-Engel</author>
    <content src="index.html" />
    <hook src="scripts/insert_js.bash" type="before_build" />
    <hook src="scripts/insert_js.bash" type="before_run" />
    <hook src="scripts/insert_html.bash" type="before_build" />
    <hook src="scripts/insert_html.bash" type="before_run" />
    <hook src="scripts/cleanup_html.bash" type="after_build" />
    <hook src="scripts/cleanup_html.bash" type="after_run" />
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
        <icon src="res/electron/icon.png" />
    </platform>
</widget>
